
@{
    ViewBag.Title = "Game List";
}

<h2>Game List</h2>

<div ng-controller="GameTableController">
    <p>{{tableTitle | titleCase}}</p>
    <ul>
        <table width="300px" class="table-striped">
            <thead>
                <th>Game ID</th>
                <th>Name</th>
                <th>Buy in</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="game in tables">
                    <td data-ng-bind="game.tableID"></td>
                    <td data-ng-bind="game.description"></td>
                    <td data-ng-bind="game.buyInMondy"></td>
                </tr>
            </tbody>
        </table>
    </ul>

    @*<p>{{userTitle | titleCase}}</p>
    <ul>
        <li data-ng-repeat="user in users">
            <span data-ng-bind="user.userID"></span> : <span data-ng-bind="user.userName"></span> - <span data-ng-bind="user.score | currency"></span>
        </li>
    </ul>*@
</div>
